.title {
  align-items: start;
  display: flex;
  font-size: 20px;
}

.description {
  width: 100%;
  text-align: start;
}

.item {
  margin-bottom: 12px;
  width: 300px;
  padding-left: 4px;
  text-align: start;
  border: 1px #c3bfbf solid;
  border-radius: 8px;
}
